.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-ul-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 900px;
}

.App-ul {
  display: flex;
  flex-direction: column;
  list-style-type: circle;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 24px;
}

.App-ul-title {
  width: 100%;
  align-items: center;
  font-size: 34px;
}
